html, .App {
  background: url( ./Assets/Summer-holiday.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  /* added a temporary font, TODO: need to finalise a font for the entire app */
}

.btn-primary {
  background-color: #215C73 !important;
}
