.Contents {
  background-color: white;
  margin: 100px auto;
  width: 400px;
}

.title {
  margin: 0 auto;
  padding-top: 10px;
  width: fit-content;
  text-align: center;
  color: #142939;
  font-weight: bold;
  font-size: 25px;
}

.fields-container {
  padding: 30px;
}

.field-container {
  margin: 25px 5px;
  color: #142939;
}

.field {
  display: block;
  width: 250px;
  border: #A8ABB1 solid 1px;
  border-radius: 2px;
}

.login-button {
  background-color: #FF9902;
  color: white;
  border: none;
  float: right;
  font-weight: bold;
}

.alternate-link {
  text-decoration: none;
  color: #FF9902;
  font-size: 12px;
}

.hint-text {
  font-size: 12px;
}

.error-msg {
  color: red;
}

.margintop10 {
  margin-top: 10px !important;
}